#box{
  @apply m-4;
  display: flex;
  align-items: baseline;
}

#box h3{
    @apply p-2 text-2xl flex leading-none;
    background-color: black;
    color: white;
    height: auto;
    text-transform: uppercase;
    @screen md {
      @apply text-4xl;
    }
}

#form-box{
    background-color: red;
    padding: 0.1em;
    text-align: center;
}

#form-box a{
    color: white;
    font-size: 2.7em;
    text-transform: uppercase;
}

#page-avs .content{
    @apply flex flex-col;
    padding: 0;
}

#page-avs .agenda-view{
    @apply flex-grow;
    padding: 2em;
}