.header {
  @apply flex pt-8 content-center;
  position: sticky;
  top: 0;
  min-width: 240px;
  z-index: 10;
  background: var(--red);
  .title {
    @apply bg-black py-3 text-2xl text-white w-full leading-tight truncate;
    text-transform: uppercase;
    @screen md {
      @apply text-4xl;
    }
  }
}

.site-menu {
  @apply p-6;
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    a {
      &:hover {
        color: #000;
      }
    }
  }
}

.menu-dropdown {
  position: relative;
  .menu-toggle {
    @apply px-6 py-3;
    box-sizing: content-box;
    background-color: black;
    cursor: pointer;
    width: 32px;
  }
  .menu-content {
    position: absolute;
    max-height: 0;
    overflow: hidden;
    width: 250px;
    transition: max-height 0.25s;
    &.is-open {
      max-height: 500px;
    }
  }
  &.align-right {
    .menu-content {
      right: 0;
      text-align: right;
    }
  }
}

.home-menu {
  position: fixed;
  right: 0;
  z-index: 9999;
}

.single-page {
  .menu-dropdown {
    .menu-toggle {
      @apply px-6 py-1;
      @screen md {
        @apply px-10 py-3;
      }
    }
    .menu-content {
      @screen md {
        .site-menu {
          @apply px-10;
        }
      }
    }
  }
}