/* HOME NEWS */

@import "_variables";

.home-news {
  .cols {
    @apply flex flex-col h-full pt-16;
    @screen md {
      @apply flex-row;
    }
    .col {
      @apply h-full relative;
      
      .section-header {
        @apply -mt-8;
        z-index: 10;
        .title {
          @apply mb-0;
        }
        .projetos-box {
          @apply flex;
          .projetos-box-title {
            @apply py-1 px-2 uppercase text-xs;
          }
        }
      }
      &.agenda {
        @apply bg-white;
        @screen md {
          @apply w-5/12;
        }
        .center-in {
          @apply w-8/12;
        }
        .agenda-item {
          @apply flex mb-4;
          .agenda-date {
            @apply px-3 w-3/12 text-center border-r border-gray-400;
            h3 {
              @apply text-5xl leading-none;
            }
            p {
              @apply text-base;
              color: var(--red);
            }
          }
          .agenda-content {
            @apply px-3 w-9/12;
            h3 {
              @apply text-sm mb-1;
              color: #666;
            }
            p {
              @apply text-base leading-none;
            }
          }
        }
      }
      &.noticias {
        
        /* @apply p-10; */

        @screen md {
          @apply w-7/12;
        }

        @screen md{
          /* @apply p-0 px-10; */
        }

        .swiper-container,
        .swiper-wrapper,
        .swiper-slide {
          @apply h-full;
        }

        .noticia {
          @apply mb-4 p-10 h-full;
          background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(/img/temp-6.jpg) no-repeat 50% 50%;
          background-size: cover;
          color: white;
          .content-wrapper {
            @apply h-full flex flex-col justify-end;
          }
          .content {
            @apply p-4 mb-2;
            background-color: rgba(0,0,0,.5);
            h3 {
              @apply text-xl mb-1 uppercase;
            }
            p {
              @apply text-base mb-1;
            }
            .post-date {
              @apply text-xs;
            }
          }
          .leiamais {
            @apply p-2;
            background-color: var(--red);
            &:hover {
              background-color: white;
              color: var(--red);
            }
          }
        }
      }
    }
  }
}
