/* HOME NEWS */

@import "_variables";

.home-news {
  .cols {
    @apply flex flex-col h-full pt-16;
    @screen md {
      @apply flex-row;
    }
    .col {
      @apply h-full;
      @screen md {
        @apply w-1/2;
      }
      &.agenda {
        @apply bg-white;
        .center-in {
          @apply w-8/12;
        }
        .agenda-item {
          @apply flex mb-4;
          .agenda-date {
            @apply px-3 w-3/12 text-center border-r border-gray-400;
            h3 {
              @apply text-5xl leading-none;
            }
            p {
              @apply text-base;
              color: var(--red);
            }
          }
          .agenda-content {
            @apply px-3 w-9/12;
            h3 {
              @apply text-sm mb-1;
              color: #666;
            }
            p {
              @apply text-base leading-none;
            }
          }
        }
      }
      &.noticias {
        
        @apply p-10;

        background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(/img/temp-6.jpg) no-repeat 50% 50%;
        background-size: cover;

        @screen md{
          /* @apply p-0 px-10; */
        }

        .noticia {
          color: white;
          .content {
            @apply p-4 mb-2;
            background-color: rgba(0,0,0,.5);
            h3 {
              @apply text-xl mb-1 uppercase;
            }
            p {
              @apply text-base;
            }
          }
          .leiamais {
            @apply p-2;
            background-color: var(--red);
            &:hover {
              background-color: white;
              color: var(--red);
            }
          }
        }
      }
    }
  }
}
