/* SINGLE PAGE */

@import "_variables";

.single-page {

  @apply flex flex-col;
  /* background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(/img/temp-6.jpg) no-repeat 50% 50% fixed;
  background-size: cover; */

  .header {
    @apply flex pt-8 content-center;
    position: sticky;
    top: 0;
    min-width: 240px;
    z-index: 10;
    background: var(--red);
    .title {
      @apply px-2 py-3 text-2xl bg-black text-white w-full leading-tight truncate;
      text-transform: uppercase;
      @screen md {
        @apply text-4xl py-1;
      }
    }
    .menu-dropdown {
      position: relative;
      .menu-toggle {
        @apply px-2 py-1;
        background-color: black;
        cursor: pointer;
        @screen md {
          @apply pl-8;
        }
      }
      .menu-content {
        position: absolute;
        max-height: 0;
        overflow: hidden;
        width: 360px;
        transition: max-height 0.25s;
        &.is-open {
          max-height: 500px;
        }
      }
    }
  }

  .content-viewport {
    @apply flex justify-center w-full;
    
    .content {
      @apply p-6 bg-white w-full;
      min-height: 80vh;
      @screen md {
        @apply px-10 p-8;
      }
    }
  }
}

.page-view {
  .title-1, h3 {
    @apply text-2xl mb-8;
    span {
      @apply inline-block;
      color: #d4433b;
      &:last-child {
        display: block;
        font-weight: 500;
        color: #000;
      }
    }
  }
  p {
    @apply mb-2 text-lg;
    a {
      color: var(--red);
      &:hover {
        color: black;
        text-decoration: underline;
      }
    }
  }
  
}

.default-view {
  @screen lg {
    @apply w-8/12 text-xl;
    .title-1, h3 {
      @apply text-4xl;
    }
    .title-box {
      @apply bg-black text-white px-2 py-1 mb-4 text-xl;
    }
    p {
      /* @apply text-xs; */
    }
  }
}

.curso-view {
  .curso-select {
    @apply px-2 py-1 mr-1 mb-1 uppercase inline-block leading-tight;
    background-color: var(--red);
    color: #fff;
    &:hover {
      background-color: black;
      color: #fff;
      text-decoration: none;
    }
  }
  .aulas-panel {
    @apply flex flex-col;

    .aulas-select {
      @apply flex flex-wrap;

      .aula {
        @apply w-1/2;
        @screen md {
          @apply w-1/3;
        }
        @screen lg {
          @apply w-1/5;
        }
        cursor: pointer;
        .box {
          @apply p-2;
        }
      }
    }
    .aulas-view {
      @apply mb-10;

      .aulas-view-video {
        @apply mb-2;
      }
      .aulas-view-info {
        .title-box {
          @apply bg-black text-white px-2 py-1 mb-4 text-xl;
        }
      }
      @screen lg {
        & {
          @apply flex;
        }
        .aulas-view-video {
          @apply w-8/12;
        }
        .aulas-view-info {
          @apply w-4/12 pl-4;
        }
      }
    }
  }
}

.posts-view {

  .posts-feed {

    .post {
      @apply mb-10;
    }
    
    @screen md {
      @apply flex flex-wrap -m-4;
      .post {
        @apply w-1/2 p-4 m-0;
      }
    }
    
    @screen lg {
      .post {
        @apply w-1/3;
      }
    }

    .post-image {
      @apply mb-2 block;
    }

    .post-title {
      @apply mb-2 leading-tight block;
      @apply text-2xl;
      @screen md {
        @apply text-3xl;
      }
    }

    .post-text {
      @apply text-base;
      @screen md {
        @apply text-lg;
      }
    }

    .post-date {
      @apply text-xs;
      @screen md {
        @apply text-sm;
      }
      color: #999;
    }

  }

  .posts-view-single {
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
    
    .post-title {
      @apply text-4xl mb-8;
    }
    .post-cover {
      margin-bottom: 40px;
      width: 100%;
      height: auto;
      @screen md {
        width: 50%;
        float: right;
        margin: 0 0 40px 40px;
      }
    }
  }

}


.agenda-view {
  .agenda-feed {
    @screen lg {
      column-count: 2;
    }
    article {
      break-inside: avoid;
    }
  }
  .agenda-nav {
    span, button {
      @apply px-3 py-1 text-white text-xl inline-block uppercase;
      background: var(--red);
      margin-left: 2px;
    }
    span {
      min-width: 120px;
      text-align: center;
    }
  }
}


.imprensa-view {

  .imprensa-block {
    @apply p-2 flex flex-col;

    .block-title,.block-footer {
      @apply text-xl uppercase leading-none p-2 mb-2;
      background: #ccc;
    }
    .block-content {
      @apply mb-2 p-2 flex-grow;
      &.gray {
        background: #f2f2f2;
      }
    }
    .block-nav {
      button {
        @apply p-1 text-base;
      }
      .pagination {
        @apply mx-2;
      }
    }
    .block-content-grid {
      @screen md {
        @apply flex flex-wrap;
        article {
          @apply w-1/2;
        }
      }
      .article-box {
        @apply flex p-2 m-1;
        background: #f2f2f2;
        height: 120px;
        .info {
          @apply px-2 flex-grow;
        }
        .figure {
          @apply mb-2;
          min-width: 110px;
          img {
            width: auto;
            height: auto;
            max-width: 100px;
            max-height: 100px;
          }
        }
      }
      
    }
  }

  .imprensa-cols {
    @screen md {
      @apply flex;
      .imprensa-block {
        @apply w-1/2;
      }
    }
  }
}