/* SINGLE PAGE */

@import "_variables";

.single-page {

  @apply flex flex-col;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(/img/temp-6.jpg) no-repeat 50% 50% fixed;
  background-size: cover;

  .header {
    @apply flex pt-8 content-center;
    position: sticky;
    top: 0;
    min-width: 240px;
    z-index: 10;
    background: var(--red);
    .title {
      @apply px-2 py-3 text-2xl bg-black text-white w-full leading-tight truncate;
      text-transform: uppercase;
      @screen md {
        @apply text-4xl py-1;
      }
    }
    .menu-dropdown {
      position: relative;
      .menu-toggle {
        @apply px-2 py-1;
        background-color: black;
        cursor: pointer;
      }
      .menu-content {
        position: absolute;
        max-height: 0;
        overflow: hidden;
        width: 360px;
        transition: max-height 0.25s;
        &.is-open {
          max-height: 300px;
        }
      }
    }
  }

  .content-viewport {
    @apply flex justify-center w-full;
    
    .content {
      @apply p-6 bg-white w-full;
      min-height: 80vh;
      @screen md {
        @apply m-8 p-10;
      }
      @screen lg {
        @apply p-16 m-10 mt-8;
      }
    }
  }
}

.page-view {
  .title-1, h3 {
    @apply text-2xl mb-4;
    span {
      @apply block;
      @screen md {
        @apply inline-block;
      }
    }
  }
  p {
    @apply mb-2;
  }
  a {
    color: var(--red);
    &:hover {
      color: black;
      text-decoration: underline;
    }
  }
}

.default-view {
  @screen lg {
    @apply w-8/12 text-xl;
    .title-1, h3 {
      @apply text-4xl;
    }
    p {
      /* @apply text-xs; */
    }
  }
}

.curso-view {
  .curso-select {
    @apply px-2 py-1 mr-1 mb-1 uppercase inline-block leading-tight;
    background-color: var(--red);
    color: #fff;
    &:hover {
      background-color: black;
      color: #fff;
      text-decoration: none;
    }
  }
  .aulas-panel {
    @apply flex flex-col;

    .aulas-select {
      @apply flex flex-wrap;

      .aula {
        @apply w-1/2;
        @screen md {
          @apply w-1/3;
        }
        @screen lg {
          @apply w-1/5;
        }
        cursor: pointer;
        .box {
          @apply p-2;
        }
      }
    }
    .aulas-view {
      @apply mb-10;

      .aulas-view-video {
        @apply mb-2;
      }
      .aulas-view-info {
        @apply text-sm;
        .title-box {
          @apply bg-black text-white px-2 py-1 mb-4 text-xl;
        }
      }
      @screen lg {
        & {
          @apply flex;
        }
        .aulas-view-video {
          @apply w-8/12;
        }
        .aulas-view-info {
          @apply w-4/12 pl-4;
        }
      }
    }
  }
}

.posts-view {

  .posts-feed {

    .post {
      @apply mb-10;
    }
    
    @screen md {
      @apply flex flex-wrap -m-4;
      .post {
        @apply w-1/2 p-4 m-0;
      }
    }
    
    @screen lg {
      .post {
        @apply w-1/3;
      }
    }

    .post-image {
      @apply mb-2 block;
    }

    .post-title {
      @apply mb-2 leading-tight block;
    }

    .post-text {
      @apply text-sm;
    }

    .post-date {
      @apply text-xs;
    }

  }

}


.agenda-view {
  .agenda-feed {
    @screen lg {
      column-count: 2;
    }
    article {
      break-inside: avoid;
    }
  }
  .agenda-nav {
    span, button {
      @apply px-3 py-1 text-white text-xl inline-block uppercase;
      background: var(--red);
      margin-left: 2px;
    }
    span {
      min-width: 120px;
      text-align: center;
    }
  }
}