/* SINGLE PAGE */

@import "_variables";

.single-page {

  @apply flex flex-col mt-16;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(/img/temp-6.jpg) no-repeat 50% 50% fixed;
  background-size: cover;

  .mobile-menu {
    @apply mt-8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  
  .desktop-menu {
    display: none;
  }

  @screen lg {
    @apply flex-row;
    .mobile-menu {
      display: none;
    }
    .desktop-menu {
      display: block;
    }
  }

  .header {
    @apply flex flex-col ml-16 -mt-8;
    position: sticky;
    top: 2em;
    min-width: 240px;
    @screen lg {
      @apply ml-20 mx-8 -mt-8 mb-8 mr-0;
    }
    .title {
      @apply px-2 py-1 mb-2 text-4xl bg-black text-white leading-tight;
      text-transform: uppercase;
    }
  }

  .content-viewport {
    @apply flex justify-center w-full;
    
    .content {
      @apply p-10 m-8 bg-white w-full;
      min-height: 80vh;
      @screen lg {
        @apply p-16 m-10 mt-8;
      }
    }
  }
}

.page-view {
  .title-1 {
    @apply text-2xl mb-2;
  }
  p {
    @apply mb-2;
  }
  a {
    color: var(--red);
    &:hover {
      color: black;
      text-decoration: underline;
    }
  }
}

.curso-view {
  .curso-select {
    @apply px-2 py-1 mr-1 mb-1 uppercase inline-block leading-tight;
    background-color: var(--red);
    color: #fff;
    &:hover {
      background-color: black;
      color: #fff;
      text-decoration: none;
    }
  }
  .aulas-panel {
    @apply flex flex-col;

    .aulas-select {
      @apply flex flex-wrap;

      .aula {
        @apply w-1/3;
        @screen lg {
          @apply w-1/5;
        }
        cursor: pointer;
        .box {
          @apply p-2;
        }
      }
    }
    .aulas-view {
      @apply mb-10;
    }
  }
}

.posts-view {

  .posts-feed {

    .post {
      @apply mb-10;
    }
    
    @screen md {
      @apply flex flex-wrap -m-4;
      .post {
        @apply w-1/2 p-4 m-0;
      }
    }
    
    @screen lg {
      .post {
        @apply w-1/3;
      }
    }

    .post-image {
      @apply mb-2 block;
    }

    .post-title {
      @apply mb-2 leading-tight block;
    }

    .post-text {
      @apply text-sm;
    }

    .post-date {
      @apply text-xs;
    }

  }

}