@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* VARS */

$red: #d4423b;
$green: #8bc73b;
$blue: #3568fb;
$yellow: #ffa92e;

/* UTIL */

.bg-r { color: #fff; background-color: $red; }
.bg-g { color: #fff; background-color: $green; }
.bg-b { color: #fff; background-color: $blue; }
.bg-y { color: #fff; background-color: $yellow; }

/* BASE */

html, body, #root, .Home {
  height: 100%;
}

body {
  background-color: $red;
  color: #333;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong {
  font-weight: 500;
}

/* COMMON */

.full-section {
  position: relative;
  overflow: hidden;
  min-height: 80vh;
  height: 1px;
  @screen md {
    @apply h-full;
  }
}

.center-out {
  @apply flex justify-center items-center h-full;
  .center-in {}
}

.section-header {
  @apply flex flex-col ml-20 mt-8 absolute;
  z-index: 1;
  top: 0;
  left: 0;
  .title {
    @apply px-2 mb-2 text-4xl bg-black text-white;
    text-transform: uppercase;
  }
}

.site-menu-1 {
  @apply p-5;
  li {
    list-style-type: none;
    margin: 0 0 0.25em;
    padding: 0;
    text-transform: uppercase;
    a {
      &:hover {
        color: #000;
      }
    }
  }
}

/* HOME LANDING */

@import "slideshow";

.home-landing {
  .content {
    @apply ml-20 mt-20;
    position: relative;
    z-index: 1;
    width: 240px;
    .logo {
      @apply p-5 bg-white mb-4;
    }
  }
}

/* HOME NEWS */

.home-news {
  .cols {
    @apply flex flex-col h-full pt-16;
    @screen md {
      @apply flex-row;
    }
    .col {
      @apply h-full;
      @screen md {
        @apply w-1/2;
      }
      &.agenda {
        @apply bg-white;
      }
      &.noticias {
        
        @apply p-10;

        background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(/img/temp-6.jpg) no-repeat 50% 50%;
        background-size: cover;

        @screen md{
          @apply p-0 pl-40;
        }

        .noticia {
          color: white;
          .content {
            @apply p-4 mb-2;
            background-color: rgba(0,0,0,.5);
            h3 {
              @apply text-xl mb-1 uppercase;
            }
            p {
              @apply text-sm;
            }
          }
          .leiamais {
            @apply p-2;
            background-color: $red;
            &:hover {
              background-color: white;
              color: $red;
            }
          }
        }
      }
    }
  }
}


/* HOME CURSOS */

.home-curso {

  position: relative;

  .curso-swiper {
    @apply mt-16;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;

    .swiper-nav {
      @apply bg-black p-2;
      color: #fff;
      position: absolute;
      top: 70%;
      width: 200px;
      z-index: 1;
      cursor: pointer;
      &.prev {
        left: 0;
        text-align: right;
      }
      &.next {
        right: 0;
      }
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
  .swiper-container, .swiper-wrapper, .swiper-slide {
    height: 100%;
  }
  .curso-slide {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .curso-info {
    @apply flex ml-20 mt-8;
    position: relative;
    z-index: 1;

    .col-1 {
      width: 360px;
      .title {
        @apply bg-black px-2 mb-2 text-4xl;
        color: #fff;
        text-transform: uppercase;
      }
      .text {
        @apply bg-white px-4 py-2 mb-2 mr-2;
      }
      .acessar {
        
        a {
          @apply px-4 py-2 mr-2 block;
          @extend .bg-r;
          text-align: right;
          &:hover {
            background-color: white;
            color: $red;
          }
        }
      }
    }

    .col-2 {
      .desc {
        @apply bg-white px-4 py-2;
        width: 240px;
      }
    }
  }
}

.dropdown {
 
  text-transform: uppercase;
  position: relative;
  cursor: pointer;

  .selected {
    @apply bg-white px-2 text-4xl flex;
    .droptitle {
      @apply flex-grow;
    }
    .dropicon {
      @apply ml-3 mr-2 self-center;
    }
  }

  .options-viewport {
    position: relative;
  }

  .options {
    @apply mb-2 text-4xl;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    li {
      @apply bg-white m-0 pl-2 pr-4;
      list-style-type: none;
      &:hover {
        background-color: #eee;
      }
    }
  }

  &.isdown {
    .selected {
      color: #999;
    }
    .options {
      max-height: 100vh;
    }
  }
}


/* HOME ORQUESTRAS */


.home-orquestras {
  @apply pt-16;
  .center-out {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(/img/temp-6.jpg) no-repeat 50% 50%;
    background-size: cover;
    color: #fff;
  }
  .center-in {
    @apply w-1/2;
  }
}

/* SINGLE PAGE */

.single-page {

  position: relative;

  .section-header {
    position: relative;
    @screen md { 
      position: fixed;
    }
  }

  .content-viewport {
    @apply flex mt-16 justify-end;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(/img/temp-6.jpg) no-repeat 50% 50% fixed;
    background-size: cover;
    .content {
      @apply p-5 m-5 bg-white;
      min-height: 80vh;
      @screen md {
        @apply p-16 mr-10 w-3/5;
      }
    }
  }
}

/* FOOTER */

.footer {
  
  .footer-1,.footer-2{
    @apply p-5;
  }

  .footer-1{
    @apply flex flex-col;
    background-color: #cfcfcf;
    @screen md {
      @apply flex-row;
    }
  }
  
  .footer-col {
    @apply text-sm m-4;
    min-width: 100px;

    @screen md {
      @apply ml-10;
    }

    h3 {
      @apply mb-1;
      font-weight: 500;
    }
    &.social {
      a {
        @apply mr-1;
        display: inline-block;
      }
    }
  }

  .footer-2{
    background-color: #000;
    color: #fff;
  }

}